/* *****Login******* */

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}


/* *****Sidebar******* */

body {
  font-family: "Lato", sans-serif;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 70px;
}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 230px; 
  font-size: 20px; 
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #b3aaae;
  color: white;
}

/* /* Dropdo */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.border-left{
	
	border-left: 2px solid #C0C0C0;
}

.nav{
	
	margin-bottom: 0px;
	border: none;
	border-radius: 0px;
	color: red;
}

.nav-menu{ /* Texto e navbar */
	
	color: white !important;
}

.menu-l { /* Menu lateral */

	padding-top: 20px !important;
	font-size: 15px;
	list-style: none;

}

.icons{
	
	margin-right: 10px; 
	margin-left: 10px;

}

.icons-sid{
	
	margin-right: 15px; 
	margin-left: 5px;
	color: white;
}

.main-center{
	
	border: 1px solid rgb(192, 192, 192);
	border-radius:10px;
	background: #FFFAFA;
	text-align: left;
}


